.create-team-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
  }
  
  .create-team-container h2 {
    color: #fff;
  }
  

  .create-team-container select,
  .create-team-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
  }

  .create-team-container input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
  }
  
  .create-team-container input[type="text"]::placeholder {
    color: #ccc;
  }
  
  .create-team-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
  }
  
  .create-team-container button {
    cursor: pointer;
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
  }
  
  .create-team-container button:hover {
    background: linear-gradient(to right, #72C3EE 0%, #9F9BEA 100%);
  }

  .add-team-member-container {
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
  }
  
  .add-team-member-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  .add-team-member-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
  }
  .add-team-member-container input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
  }
  .add-team-member-container select {
    cursor: pointer;
  }
  
  .add-team-member-container button {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .add-team-member-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .add-team-member-container button:disabled:hover {
    background-color: red;
    cursor: not-allowed;
  }
  .error-msg {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  
  .add-team-member-container button:hover {
    background: linear-gradient(to right, #72C3EE 0%, #9F9BEA 100%);
  }
  
  .success-msg {
    color: #28a745;
    margin-top: 10px;
  }
  .validation-mark {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: red; /* Change color as needed */
  }