.create-team-container {
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
  }
  
  .create-team-container h2 {
    color: #fff;
  }
  

  .create-team-container select,
  .create-team-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
  }

  .create-team-container input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
  }
  
  .create-team-container input[type="text"]::placeholder {
    color: #ccc;
  }
  
  .create-team-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
  }
  
  .create-team-container button {
    cursor: pointer;
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
  }
  
  .create-team-container button:hover {
    background: linear-gradient(to right, #72C3EE 0%, #9F9BEA 100%);
  }