/*Create Queue*/
@media screen and (min-width: 851px){
    .form-container_create_queue_form {
      width: 300px;
      margin: 5px auto; /* Added margin-top */
      padding: 20px;
      border: 1px solid #0C0F18;
      border-radius: 9px;
      background-color: #0C0F18;
    }
    
    .form-container_create_queue_form label {
      display: block;
      margin-bottom: 10px;
    }
    
    .form-container_create_queue_form input[type="text"],
    .form-container_create_queue_form input[type="time"],
    .form-container_create_queue_form input[type="date"] {
      width: 90%;
      padding: 8px;
      margin-top: 5px;
      background-color: #0C0F18;
      border-radius: 3px;
      border-top: 1px solid #0C0F18;
      border-left: 1px solid #0C0F18;
      border-right: 1px solid #0C0F18;
      border-bottom: 1px solid #ccc;
      color: white; /* Added text color */
      transition: border-color 0.3s; /* Added transition for smooth color change */
    }
    
    
    .form-container_create_queue_form input[type="text"]::placeholder,
    .form-container_create_queue_form input[type="time"]::placeholder,
    .form-container_create_queue_form input[type="date"]::placeholder {
      color: white; /* Placeholder color */
    }
    
    .form-container_create_queue_form input[type="checkbox"] {
      margin-right: 5px;
    }
    
    .form-container_create_queue_form button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    
    .form-container_create_queue_form button:hover {
      background-color: #0056b3;
    }
    .form-container_create_queue_form label {
      color: white;
    }
    .form-container_create_queue_form input[type="date"]:disabled {
        opacity: 0.5; /* Adjust opacity to visually indicate disabled state */
        pointer-events: none; /* Disable pointer events to prevent interaction */
      }
  }

  /*Create Queue*/
@media screen and (max-width: 850px){
    .form-container_create_queue_form {
      width: 300px;
      margin: 5px auto; /* Added margin-top */
      padding: 20px;
      border: 1px solid #0C0F18;
      border-radius: 9px;
      background-color: #0C0F18;
    }
    
    .form-container_create_queue_form label {
      display: block;
      margin-bottom: 10px;
    }
    .form-container_create_queue_form input[type="date"]:disabled {
        opacity: 0.5; /* Adjust opacity to visually indicate disabled state */
        pointer-events: none; /* Disable pointer events to prevent interaction */
        cursor: not-allowed;
      }
    
    .form-container_create_queue_form input[type="text"],
    .form-container_create_queue_form input[type="time"],
    .form-container_create_queue_form input[type="date"] {
      width: 90%;
      padding: 8px;
      margin-top: 5px;
      background-color: #0C0F18;
      border-radius: 3px;
      border-top: 1px solid #0C0F18;
      border-left: 1px solid #0C0F18;
      border-right: 1px solid #0C0F18;
      border-bottom: 1px solid #ccc;
      color: white; /* Added text color */
      transition: border-color 0.3s; /* Added transition for smooth color change */
    }
    
    
    .form-container_create_queue_form input[type="text"]::placeholder,
    .form-container_create_queue_form input[type="time"]::placeholder,
    .form-container_create_queue_form input[type="date"]::placeholder {
      color: white; /* Placeholder color */
    }
    
    .form-container_create_queue_form input[type="checkbox"] {
      margin-right: 5px;
    }
    
    .form-container_create_queue_form button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    
    .form-container_create_queue_form button:hover {
      background-color: #0056b3;
    }
    .form-container_create_queue_form label {
      color: white;
    }
  }


  /*Event details*/

  .event-details-container {
    margin: 20px;
    color: #fff;
    text-align: center;
    background-color: #131313;
  }
  
  .event-details-heading {
    color: #fff;
    font-size: 20px;
  }
  
  .event-details {
    background-color: #0C0F18;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .detail-label {
    font-weight: bold;
  }
  
  .qr-code-container {
    margin-bottom: 20px;
  }
  
  .quick-share-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .quick-share-button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid #9F9BEA;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .quick-share-button:hover {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
    border-color: #9F9BEA;
  }

  .modal-container_event_attendee_details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content_event_attendee_details {
    background-color: #131313;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    overflow-y: auto;
    height: 400px;
  }
  
  .modal-close_event_attendee_details {
    background-color: transparent;
    border: 1px solid #9F9BEA;
    cursor: pointer;
    background-color: #9F9BEA;
    border-radius: 9px;
    color: white;
    padding: 9px 16px;
  }
  
  .modal-close_event_attendee_details:hover {
    border: 1px solid #9F9BEA;
    transition: 0.3s;
    color: white;
    background-color: transparent;
  }
  
  .modal-container_event_attendee_details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .modal-container_event_attendee_details li {
    margin-bottom: 10px;
    background-color: #1a1919;
    border-radius: 9px;
    padding: 10px;
  }
  
  .attendee-action {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #9F9BEA;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .attendee-action:hover {
    background-color: #7e7cc8;
  }

  /* Scrollbar styles */
.modal-content_event_attendee_details {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #9F9BEA #131313; /* Firefox */
}

.modal-content_event_attendee_details::-webkit-scrollbar {
  width: 8px; /* Chrome, Safari, Opera */
}

.modal-content_event_attendee_details::-webkit-scrollbar-track {
  background: #131313; /* Color of the track */
}

.modal-content_event_attendee_details::-webkit-scrollbar-thumb {
  background-color: #9F9BEA; /* Color of the scroll thumb */
  border-radius: 4px; /* Roundness of the scroll thumb */
  border: 2px solid #131313; /* Border around the scroll thumb */
}

.modal-content_event_attendee_details::-webkit-scrollbar-thumb:hover {
  background-color: #7e7cc8; /* Color of the scroll thumb on hover */
}

.qr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure it appears above other elements */
}

.qr-content {
  position: relative;
  text-align: center; /* Center text */
}

.qr-content img {
  max-width: 80%; /* adjust the size of the QR code */
  max-height: 80%;
  border: 5px solid #fff; /* white border around the QR code */
  border-radius: 10px; /* rounded corners */
}

.print-button {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hide print button when printing */
@media print {
  .print-button {
    display: none;
  }
}