.help-container {
    background-color: #1f1f1f; /* Dark background color */
    color: #ffffff; /* Light text color */
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-heading {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-heading h2 {
    margin: 0;
    font-size: 17px;
}

.accordion-heading img {
    width: 10px;
    height: 10px;
}

.accordion-content {
    padding: 10px;
    border-radius: 4px;
}

.terms-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: #333; /* Dark text color */
    border-radius: 8px;
    max-height: 200px; /* Set the maximum height */
    overflow-y: auto; /* Add scrollbar if content exceeds max height */
}

.terms-container h1, .terms-container h2 {
    color: #949494; /* Darker text color for headings */
    font-size: 15px;
}

.terms-container p {
    margin-bottom: 20px;
}

/* Scrollbar style */
.terms-container::-webkit-scrollbar {
    width: 8px;
}

.terms-container::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Scrollbar thumb color */
    border-radius: 4px;
}

.terms-container::-webkit-scrollbar-track {
    background-color: #333; /* Scrollbar track color */
}

.report-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-height: 100px;
  }
  
  .report-container h2 {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 100;
  }
  
  .report-form {
    display: flex;
    flex-direction: column;
  }
  
  .report-form label {
    margin-bottom: 10px;
  }
  
  .report-form textarea {
    width: 100%;
    height: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .report-form button {
    padding: 10px 20px;
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .report-form button:hover {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
  }