.container_add_member {
  padding: 20px;
  background-color: #121212;
  color: #ffffff;
}

.heading_add_member {
  font-size: 24px;
  margin-bottom: 20px;
}

.add_member_form {
  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.input-text_add_member {
  background-color: #2e2e2e;
  border: 1px solid #555555;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  width: calc(100% - 24px);
}

.button-group_add_member {
  margin: 10px 0;
}

.button_add_member {
  background-color: #333333;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

.button_add_member:hover {
  background-color: #444444;
}

.radio-group_add_member {
  margin: 10px 0;
}

.radio-item_add_member {
  margin-bottom: 10px;
}

.radio-input_add_member {
  display: none; /* Hide the default radio input */
}

.radio-label_add_member {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  width: calc(100% - 40px); /* Adjust width for label */
  background-color: #181818;
  border: 1px solid #181818;
  color: #ffffff;
}

.radio-label_add_member:hover {
  background-color: #121212;
}

.radio-input_add_member:checked + .radio-label_add_member {
  background-color: #131313; /* Styling for checked state */
  border: 1px solid white;
}

.radio-label_add_member::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #555555;
  border-radius: 50%;
}

.radio-input_add_member:checked + .radio-label_add_member::before {
  background-color: #ffffff;
}