.modal-noti-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #131313;
    margin: auto;
    padding: 20px;
    border: 1px solid #131313;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-item span {
    flex: 1;
    text-align: center;
    font-family: Arial, sans-serif;
}

.phone-number {
    font-weight: bold;
}

.conversation-type,
.created-at {
    font-style: italic;
    color: #555;
}
