.left-sidebar_team {
    background-color: #1F1F1F;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .welcome-message_team {
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
  }
  
  .nav-buttons_team {
    display: flex;
    flex-direction: column;
  }
  
  .nav-buttons_team button {
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
    border: none;
    padding: 12px 10px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: background 0.5s ease; /* Apply transition to the background property */
  }
  
  .nav-buttons_team button img {
    margin-right: 10px;
    width: 24px; /* Adjust image size as needed */
    height: 24px; /* Adjust image size as needed */
  }
  
  .nav-button_team_active {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%);
  }
  
  .nav-button_team:hover {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%); /* Adjust gradient colors for hover */
  }