@media screen and (min-width: 851px){
.left-sidebar_team {
    background-color: #131313;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .welcome-message_team {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
  }
  
  .nav-buttons_team {
    display: flex;
    flex-direction: column;
  }
  
  .nav-buttons_team button {
    display: flex;
    align-items: center;
    background: transparent;
    color: #fff;
    border: none;
    padding: 12px 10px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: background 0.5s ease; /* Apply transition to the background property */
  }
  
  .nav-buttons_team button img {
    margin-right: 10px;
    width: 24px; /* Adjust image size as needed */
    height: 24px; /* Adjust image size as needed */
  }
  
  
  .nav-button_team:hover {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%); /* Adjust gradient colors for hover */
  }


  .main_div_team_dashboard {
    display: flex;
  }
  
  .nav_bar_area_Team_dashboard,
  .Dashboard_area_Team_dashboard,
  .rightmenu_area_Team_dashboard {
    flex: 1; /* Equal width for all */
  }
  
  .Dashboard_area_Team_dashboard {
    flex: 2; /* Twice the width of the others */
  }
  

.dashvoard_team_header {
  background-color: #000000;
  color: #fff;
  border-radius: 25px;
  padding: 6px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #1F1F1F;
  margin-top: 5px;
}

.dashvoard_team_header {
  display: flex;
  align-items: center;
}

.dashvoard_team_header h3 {
  margin: 0;
  cursor: grab;
  font-size: 20px;
  flex: 1; /* Allow the text to take up remaining space */
}

.dashvoard_team_header button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.setting_btn_dashboard_team,
.notification_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.setting_btn_dashboard_team:hover,
.notification_icon:hover {
  background-color: #1a1919;
  transition: 0.3s;
  border-radius: 50%;
}

.notification_dashboard_icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px;
}
.notification_dashboard_icon:hover {
  background-color: #1a1919;
  transition: 0.3s;
}
.main_div_team_dashboard_smallscreen {
  display: none;
}
.menu-toggle {
  display: none;
}

.rightmenu_summary_main_div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 240px; /* Adjust width as needed */
  background-color: #131313; /* Dark background color */
  color: #fff; /* Light text color */
  border-left: none; /* Border color */
  z-index: 1000; /* Ensure it appears above other content */
  padding: 20px; /* Padding for content */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
}

.right_menu_summary_header {
  margin-bottom: 20px; /* Add some space below the header */
}

.right_menu_summary_header h2 {
  color: #fff; /* Header text color */
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
}
.team_details_summary_menu {
  margin-bottom: 10px;
}

.team_details_summary_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.team_details_summary_header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 100;
}

.toggle_arrow {
  width: 16px; /* Adjust arrow size as needed */
  height: 16px; /* Adjust arrow size as needed */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.team_details_summary_content {
  padding-left: 20px; /* Add indentation for content */
}

.team_details_summary_content button {
  margin-top: 5px;
  font-size: 14px;
}
.calendar {
  background-color: #212027; /* Dark background color */
  border-radius: 5px; /* Rounded corners */
  padding: 20px;
  margin-top: 10px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff; /* Text color */
  font-size: 12px;
  margin-bottom: 10px;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.calendar-header button:hover {
  color: #9F9BEA;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
  gap: 5px; /* Gap between days */
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%; /* Circular shape */
  background-color: #151418; /* Dark gray background color */
  color: #fff; /* Text color */
  font-size: 16px;
  padding: 2px;
}

.live-date {
  background-color: #5C33F6; /* Blue color for current date */
}
}
@media screen and (max-width: 1113px)  {
  .rightmenu_area_Team_dashboard {
    display: none;
  }
  .rightmenu_summary_main_div {
    position: fixed;
    top: 0;
    left: 0; /* Adjust to cover the whole screen */
    bottom: 0;
    width: 100%; /* Cover the whole screen */
    background-color: #131313; /* Dark background color */
    color: #fff; /* Light text color */
    border-left: none; /* Border color */
    z-index: 1000; /* Ensure it appears above other content */
    padding: 20px; /* Padding for content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport height */
  }
  .right_menu_summary_header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    cursor: pointer;
  }
  
  .right_menu_summary_header h2 {
    color: #fff; /* Header text color */
    font-size: 30px;
    margin: 0; /* Remove default margin */
    font-weight: 700;
    text-align: center;
  }
  
  .toggle_arrow {
    width: 20px; /* Adjust arrow size as needed */
    height: 20px; /* Adjust arrow size as needed */
    margin-left: 10px; /* Add margin between heading and arrow */
    transition: transform 0.3s ease; /* Smooth transition for rotation */
  }
  
  .team_details_summary_content {
    padding-left: 20px; /* Add indentation for content */
  }
  
  .team_details_summary_content button {
    margin-top: 5px;
    font-size: 14px;
  }
  .calendar {
    background-color: #212027; /* Dark background color */
    border-radius: 5px; /* Rounded corners */
    padding: 20px;
    margin-top: 10px;
    width: 350px;
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff; /* Text color */
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .calendar-header button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .calendar-header button:hover {
    color: #9F9BEA;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 5px; /* Gap between days */
  }
  
  .calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%; /* Circular shape */
    background-color: #151418; /* Dark gray background color */
    color: #fff; /* Text color */
    font-size: 16px;
    padding: 2px;
  }
  
  .live-date {
    background-color: #5C33F6; /* Blue color for current date */
  }
}
@media screen and (min-width: 1113px){
  .mobl_btn_dashboard_btn_summary {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .left-sidebar_team {
    width: 240px;
    background-color: #1F1F1F;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -240px; /* Initially hide the navbar off the screen */
    transition: left 0.3s ease;
    border-radius: 12px;
  }
  
  .left-sidebar_team.show-nav {
    left: 0; /* Show the navbar by bringing it back to 0 left position */
  }
  
  .welcome-message_team {
    padding: 20px 0;
    margin-top: 40px;
    text-align: center;
  }
  
  .nav-buttons_team {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .nav-button_team {
    border: none;
    background: none;
    padding: 10px 20px;
    margin: 10px 10px;
    display: flex;
    align-items: left;
    cursor: pointer;
    border-radius: 15px;
    color: white;
    text-align: left;
  }
  
  .nav-button_team img {
    margin-right: 10px;
  }
  
  .nav-icon {
    width: 24px;
    height: 24px;
  }
  
  .menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    cursor: pointer;
  }
  .nav-button_team:hover {
    background: linear-gradient(to right, #9F9BEA 0%, #72C3EE 100%); /* Adjust gradient colors for hover */
  }
  .dashvoard_team_header {
    background-color: #1F1F1F;
    color: #fff;
    border-radius: 25px;
    padding: 6px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .dashvoard_team_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dashvoard_team_header h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .dashvoard_team_header button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .setting_btn_dashboard_team:hover {
    background-color: #4b4a4a;
    transition: 0.3s;
    padding: 12px;
    border-radius: 12px;
  }
  
  .dashvoard_team_header button:focus {
    outline: none;
  }
  
  .notification_dashboard_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .dashvoard_team_header h3 {
    margin-left: 48px;
  }
  .main_div_team_dashboard {
    display: none;
  }
  .rightmenu_area_Team_dashboard {
    display: none;
  }
}