.dashboard_team_main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; /* Light background color */
    height: 100vh; /* Full viewport height */
}


.dashvoard_team_header {
    flex: 1;
    padding: 20px;
    text-align: center;
    width: 100%;
}



.member_search_bar {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.member_search_bar input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.vacating_btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

.vacating_btn:hover {
    background-color: #000000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.success-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-animation svg {
    margin-bottom: 10px;
}

.success-animation p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.success-animation button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.success-animation button:hover {
    background-color: #27ae60;
}

.delete-member-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.delete-member-message {
    font-size: 1rem;
    color: #666;
}

.delete-member-input {
    margin-bottom: 15px;
}

.delete-member-label {
    display: block;
    font-size: 1rem;
    color: #444;
    margin-bottom: 5px;
}

.delete-member-date-input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-member-buttons {
    display: flex;
    justify-content: flex-end;
}

.delete-member-confirm-button, .delete-member-cancel-button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.delete-member-confirm-button:hover, .delete-member-cancel-button:hover {
    background-color: #0056b3;
}