body {
  background-color: black;
  margin: 0px;
  font-family: 'Open Sans', sans-serif; /* Use Open Sans font */
}
p {
  color: white;
}
h1 {
  color: white;
}
h2{
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}